@import "tailwindcss";

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

#navbar a.active {
  color: rgb(0, 196, 196) !important;
}

/* 모든 링크의 밑줄 제거 */
a {
  text-decoration: none !important;
}
